doctype html
html(lang="en")
    head
        title Flash Cards
        link(rel="stylesheet", href="/public/css/style.css")
    body
        include header
        block content
        include footer
     
    